*.swp
__pycache__
.pytest_cache
.ctx
.venv
.venv2
node_modules
*.egg-info
*.DS_Store
build
dist
.coverage

# CDK asset staging directory
.cdk.staging
cdk.out

# VS code
.vscode
lambdas/.DS_Store

# Pycharm
.idea

# PyEnv
.python-version

# Notebooks
notebooks/

# make
.makefail
